<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Checkout</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            margin: 50px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 class="row justify-content-center">Checkout</h1>

    <h2>Informações do cliente</h2>
    <hr>
    <div class="alert alert-danger" id="error" style="display: none"></div>
    <div class="alert alert-success" id="success" style="display: none"></div>
    <div class="alert alert-warning" id="warning" style="display: none"></div>

    <form id="customerForm" action="/checkout" method="POST">
        <div class="form-group">
            <label for="customerName">Nome</label>
            <input type="text" class="form-control" id="customerName" name="customerName" required>
        </div>
        <div class="form-group">
            <label for="customerEmail">Email</label>
            <input type="email" class="form-control" id="customerEmail" name="customerEmail" required>
        </div>
        <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="number" class="form-control" id="cpf" name="cpf" required>
        </div>
        <div class="form-group">
            <label for="data-nasc">Data de nascimento</label>
            <input type="date" class="form-control" id="data-nasc" name="dataNascimento" required>
        </div>
        <div class="form-group">
            <label for="tel-whatsapp">Número (WhatsApp)</label>
            <input type="tel" class="form-control" id="tel-whatsapp" name="numeroWhatsApp" required>
        </div>
        <div class="form-group">
            <label for="endereco">Endereço</label>
            <input type="text" class="form-control" id="endereco" name="endereco" required>
        </div>

        <div class="col-md-6">
            <h2>Carrinho</h2>
            <ul class="list-group" id="cartItems">
            </ul>
            <p>Total: R$<span id="totalPrice">0.00</span></p>

            <button class="btn btn-danger" id="clearCart">Limpar Carrinho</button>
            <button type="submit" class="btn btn-success">Finalizar Compra</button>
            <a class="btn btn-warning" href="/">Continuar compras</a>
        </div>
    </form>

    <hr>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/checkout.js"></script>
</body>
</html>
