<!DOCTYPE html>
<html>
    <head>
        <title>Top!</title>
    </head>
    <body>
        <h1>Pagamento realizado com sucesso! Fale conosco através do whatsapp para confirmamos sua inscrição.
        </h1>
    </body>
</html>
